<form [formGroup]="form" class="col-12 row">
  <ng-container *ngFor="let control of formData?.controls ">
    <ng-container *ngIf="displayField(control)">
      <ng-container [ngSwitch]="control.type">

<!--        for input field type -->
        <p *ngSwitchCase="'text'" [class]="control.class || 'col-6'">
          <mat-form-field appearance="outline" >
            <mat-label>{{control.label}}</mat-label>
            <input [attr.maxLength]="control?.validation?.max || null"
                   [attr.minLength]="control?.validation?.min || null"
                   [formControlName]="control.controlName"
                   matInput
                   inputFilterDirective
                   [filter]="control?.filter || 'none'"
                   [placeholder]="control?.placeholder || ''"
                   [type]="control.type">
            <mat-error *ngIf="!!controlError(control.controlName)">
              <ng-container>
                {{controlError(control.controlName, control?.validation)}}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </p>

<!--        for dropdown field type-->
        <p *ngSwitchCase="'dropdown'" [class]="control.class || 'col-6'">
          <mat-form-field appearance="outline">
            <mat-label>{{control.label}}</mat-label>
            <mat-select [formControlName]="control.controlName">
              <mat-option *ngFor="let option of control.options" [value]="option?.value">
                {{option?.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>


<!--        for date field type-->
        <p *ngSwitchCase="'date'" [class]="control.class || 'col-6'">
          <mat-form-field appearance="outline">
            <mat-label>{{control.label}}</mat-label>
            <input [formControlName]="control.controlName" matInput [matDatepickerFilter]="control?.filter ? control.filter : noFilter" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker  disabled="false"></mat-datepicker>
            <mat-error *ngIf="!!controlError(control.controlName)">
              <ng-container>
                {{controlError(control.controlName, control?.validation)}}
              </ng-container>
            </mat-error>
          </mat-form-field>
        </p>


<!--        for file field type-->
        <div *ngSwitchCase="'file'" [class]="control.class || 'col-6'" class="mb-3">
          <mat-card class="file-card">
            <mat-card-header>
              <mat-card-title>{{control.label}}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="mt-3 file-card-content">
              <app-view-file [file]="emitData?.[control.controlName]"></app-view-file>
              <input (change)="onFileSelected($event, control.controlName, control?.filter?.size)"
                     [accept]="control.filter.type || ''"
                     type="file" [formControlName]="control.controlName">
              <br>
              <mat-error *ngIf="!!controlError(control.controlName)">
              <ng-container>
                {{controlError(control.controlName, control?.validation)}}
              </ng-container>
            </mat-error>
            </mat-card-content>
            <div class="file-card-footer">
              <div style="font-size: 10px" *ngIf="control.filter?.size">
                <i>File size limit: {{control.filter?.size}}MB</i>
              </div>
              <div style="font-size: 10px" *ngIf="control.filter?.type">
                <i>Allowed File types: {{control.filter?.type}}</i>
              </div>
            </div>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <mat-divider></mat-divider>
  <div class="form-footer">
    <span>{{form.errors?.['matchError'] ? formData?.validator.message : ''}}</span>
    <button type="button" (click)="onEmit()" mat-flat-button color="primary">{{btnName}}</button>
  </div>
</form>
