<section class="p-5">
  <mat-stepper [linear]="true" #stepper>
    <mat-step label="Basic Details">
      <mat-card>
        <app-staff-details></app-staff-details>
      </mat-card>
    </mat-step>
    <mat-step label="Contact Details">
      <mat-card>
        <app-contact-details></app-contact-details>
      </mat-card>
    </mat-step>
    <mat-step label="Compliance Documentation">
      <mat-card>
        <app-compliance-details></app-compliance-details>
      </mat-card>
    </mat-step>
  </mat-stepper>
</section>
