<section class="p-5">
  <div class="title-container" *ngIf="current != 0">
    <span>Complete your registration:</span>
    <span>
      <span *ngIf="current != 4" style="color: green">{{'Completed' | translate}} ( {{current - 1 }} / 3 )</span> | <span style="color: cornflowerblue;">{{'Current' | translate}}[ {{current}} / 3 ]</span>
    </span>
  </div>
  <mat-card [ngSwitch]="current">
    <mat-card-title>{{title[current]}}</mat-card-title>
    <mat-divider></mat-divider>
    <ng-container *ngSwitchCase="0" >
      <ng-template *ngTemplateOutlet="verifyingFormStatus">
      </ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <app-staff-details (next)="nextForm($event)"></app-staff-details>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <app-contact-details (next)="nextForm($event)"></app-contact-details>
    </ng-container>
    <ng-container *ngSwitchCase="3">
      <app-compliance-details (next)="nextForm($event)"></app-compliance-details>
    </ng-container>
    <ng-container *ngSwitchCase="4" >
      <ng-template *ngTemplateOutlet="completingFormSubmission">
      </ng-template>
    </ng-container>
  </mat-card>
</section>

<ng-template #verifyingFormStatus>
  <div class="pending-container">
    {{'Verifying your form status' | translate}}
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-divider></mat-divider>
</ng-template>

<ng-template #completingFormSubmission>
  <div class="pending-container">
    {{'Registration is complete. Please wait for verification.' | translate}}
  </div>
  <mat-divider></mat-divider>
</ng-template>
