mat-card{
  padding: 1.5rem;
  margin-top: 1rem;
}
mat-divider{
  margin: 1rem 0;
}

.pending-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  mat-progress-bar{
    width: 30%;
    margin-top: 1rem;
  }
}

.title-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 16px;
  letter-spacing: 0.9px;
  font-weight: 500;
  cursor: default;
}


