<section class="p-5">
  <div>Complete your registration: Completed(0/3)</div>
  <mat-card [ngSwitch]="currentPage">
    <mat-card-title>Basic Details</mat-card-title>
    <mat-divider></mat-divider>
    <ng-container *ngSwitchCase="'basic'">
      <app-staff-details></app-staff-details>
    </ng-container>
    <ng-container *ngSwitchCase="'contact'">
      <app-contact-details></app-contact-details>
    </ng-container>
    <ng-container *ngSwitchCase="'compliance'">
      <app-compliance-details></app-compliance-details>
    </ng-container>
  </mat-card>
</section>
