<div class="table-head d-block d-lg-flex justify-content-between align-items-center">
  <mat-form-field appearance="outline">
    <mat-label>Search by name</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="filter(data)">
  </mat-form-field>
  <div class="table-actions">
    <button mat-flat-button color="primary" (click)="search()">Search</button>
    <button mat-flat-button color="accent" (click)="displayFilterInput = !displayFilterInput">Filter</button>
    <button mat-flat-button color="warn" (click)="reset()">Reset</button>
  </div>
</div>
<div class="paginator">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                 [length]="this.dataSource.length"
                 [pageSize]="pageSize"
                 [showFirstLastButtons]="false"
                 [pageIndex]="0"
                 (page)="handlePageEvent($event)"
                 aria-label="Select page of users"></mat-paginator>
</div>
<section class="table-parent-container">
  <div>
    <table mat-table [dataSource]="dataSource|slice:paginate.start:paginate.end">
      <ng-container *ngFor="let col of displayedColumns">
        <ng-container *ngIf="col !== 'actions'" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef>
            <ng-container
              *ngTemplateOutlet="header;
           context: {col: col}">
            </ng-container>
          </th>
          <td mat-cell *matCellDef="let element" class="no-wrap"> {{element?.[col]}} </td>
        </ng-container>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <ng-container
            *ngTemplateOutlet="header;
           context: {col: 'Actions'}"></ng-container>
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngTemplateOutlet="action; context:{id: row?.uid}" ></ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>
  </div>

</section>

<ng-template #header let-col='col'>
  <div class="table-header">
    <span *ngIf="(allowedFilter.hasOwnProperty(col) && !displayFilterInput) || !allowedFilter.hasOwnProperty(col) ">
      {{col | titlecase}}
    </span>
    <input type="text" *ngIf="allowedFilter.hasOwnProperty(col) && displayFilterInput"
           [(ngModel)]="allowedFilter[col]" [placeholder]="'Filter ' + col" (ngModelChange)="search()" >
    <mat-icon *ngIf="allowedSort.hasOwnProperty(col) && allowedSort[col] == 'asc'" (click)="allowedSort[col] = 'dsc';this.sort(col, 'dsc')">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="allowedSort.hasOwnProperty(col) && allowedSort[col] == 'dsc'" (click)="allowedSort[col] = 'asc';this.sort(col, 'asc')">keyboard_arrow_up</mat-icon>
  </div>
</ng-template>
