<section class="user-view-container">
  <div class="user-view-header col-6">
    Details
  </div>
  <p class="col-6" [class]="editMode ? '':'edit-off'">
    <mat-form-field appearance="outline" >
      <mat-label>User Name</mat-label>
      <input matInput [disabled]="!editMode" [(ngModel)]= "userName">
    </mat-form-field>
  </p>
  <p class='col-6' [class]="editMode ? '':'edit-off'">
    <mat-form-field appearance="outline" >
      <mat-label>Email</mat-label>
      <input matInput disabled [ngModel]= "userDetails?.email">
    </mat-form-field>
  </p>
  <p class='col-6' [class]="editMode ? '':'edit-off'">
    <mat-form-field appearance="outline" >
      <mat-label>Verified</mat-label>
      <input matInput disabled [ngModel]= "userDetails?.isVerified">
    </mat-form-field>
  </p>
  <p class='col-6' [class]="editMode ? '':'edit-off'">
    <mat-form-field appearance="outline" >
      <mat-label>UID</mat-label>
      <input matInput disabled [ngModel]= "userDetails?.uid">
    </mat-form-field>
  </p>
  <p class='col-6'  [class]="editMode ? '':'edit-off'">
    <mat-form-field appearance="outline" >
      <mat-label>Role</mat-label>
      <input matInput disabled [ngModel]= "userDetails?.role">
    </mat-form-field>
  </p>
  <div class="user-view-footer col-6">
    <ng-container *ngIf="!editMode">
      <button mat-flat-button color="warn" *checkView="'role'">
        Promote to Admin
      </button>
    </ng-container >
    <ng-container *ngIf="!editMode">
      <button mat-flat-button color="primary" *checkView="userDetails?.uid" (click)="onEdit()">
        Update Username
      </button>
    </ng-container>
    <button mat-flat-button color="primary" *ngIf="editMode" (click)="onUpdate()">Update</button>
    <button mat-flat-button color="warn" *ngIf="editMode" (click)="editMode = false">Cancel</button>
  </div>
</section>
