<!--content based on view -->
<div class="container">
  <h3>{{title}}</h3>
  <mat-divider style="padding: 1.5rem 0;"></mat-divider>
  <ng-container [ngSwitch]="data.view">
    <app-basic-details-view *ngSwitchCase="'basic'" [data]="data.formDetails"></app-basic-details-view>
    <app-contact-details-view *ngSwitchCase="'contact'" [data]="data.formDetails"></app-contact-details-view>
  </ng-container>

</div>
<!--footer buttons-->
<mat-divider></mat-divider>
<div class="footer">
  <span><i>*Once submitted you cannot update until all forms are completed</i></span>
  <div>
    <button mat-flat-button (click)="keepEditing()"> Keep Editing </button>
    <button mat-flat-button color="primary" [mat-dialog-close]="true"> Proceed </button>
  </div>
</div>
